@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-bg-light: #202124;
    --main-bg-dark: #ffffff;
    --accent-green: #1DE9B6;
}
body{
    color: #202124;
    font-family: 'Montserrat', sans-serif;
}
img {border-radius: 50%;}
@font-face {
    color: #202124;
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/cnsls.woff2') format('woff2'),
    url('/assets/fonts/cnsls.woff') format('woff'),
    url('/assets/fonts/cnsls.ttf') format('truetype');
}

@font-face {
    color: #202124;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #8c8c8c;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: #6b6b6b;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover ::-webkit-scrollbar-track:active {
    background: #6b6b6b;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-dark);
}

#colorstrip{
    width: 100%; height: 2px;
    border-style: solid;
    border-color: white;
    background-color: white;
}
#pic{
    padding-top: 21vh;
    padding-left: 4vw;
    width: 90vw;
}
/* #bg {
    position: fixed;
    filter: brightness(120%);
    height: 100vh;
    width: 100vw;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    z-index: -1;
} */

.boxed {
    border: 1px #1DE9B6 ;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
nav{
      position: fixed;
      text-align: center;
      width:100%;
      color: black;
      display: block;
    background-color: #dce5f4;
    background: #dce5f4;
    filter:drop-shadow(3px 3px 10px black);    
    z-index: 9999;
    }
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li{
    display: inline-block;
    background-color: #dce5f4;
    padding-left: 20px;
}
nav a{
    display: block;
    padding: 0 10px;
    color: black;
    font-weight: 700;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
}
/* Hide Dropdown by Default*/
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}
/* hover */
nav a:hover{
    color:crimson;
    background-color: white;
    border-radius: 0.25em;
}
/* Display Dropdown on Hover */
nav ul li:hover > ul {
    display: inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li{
    width: 130px;
    text-align: center;
    float: none;
    display: list-item;
    position: relative;

}

.banner{
    display: flex;
}
.banner.content{
    display: block;
font-size: 1.5em;

}
.banner.head{
    display: block;
    font-size: 2.5em;
    color: #484BF2;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    }

.image {
    height: 40em;
    width: 40em;
    border-radius: 0%;
    display: flex;
    z-index: -1;
}

/* ============ Second, Third and More Tiers ===========*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

/* Change this in order to change the Dropdown symbol */
li > a::after { content: ' +';}
li > a:only-child::after {
    content: '';
}

#header {
    position: fixed;
    width: 100%;
    height: 150px;
    backdrop-filter: blur(3px);
    background-color: #be0f34;
    color: #ffffff;
    vertical-align: center;
    font-size: 1rem;
    z-index: 100000;
    padding-bottom: 10px;
}

.st0{fill:#1DE9B6;}
.st1{fill:#BDBDBD;}
.st2{fill:#757575;}
.st3{fill:#212121;}
.st4{fill:#dfe0e4;}
.st5{fill:rgba(255, 255, 255, 0.1);}

/* button css */
.lbl {
    position: absolute;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.lbl:after {
    position: absolute;
    left: -2px;
    top: -3px;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: var(--main-bg-dark);
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    color: var(--main-bg-dark);
    content: "light";
    transition: all 0.3s ease;
}
.lbl:active:after {
    transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
    background: #6fbeb5;
}
.cbx:checked ~ label:after {
    left: 20px;
    background: #179588;
    color: var(--accent-green);
    content: "dark";
}

.cntr {
    position: relative;
    padding-left: 12vw;
    padding-top: 8vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

#spn {
    font-size: 1.1rem;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding-top: 6vh;
    /*position: fixed;*/
    font-family: 'Montserrat', sans-serif;
    color: #202124;
}

#me {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1vh;
    position: relative;
}

.uname, #spn a:link, #spn a:visited {
    color: #202124;
    text-decoration-color: #202124;
}
.centertable {
    margin-left: auto;
    margin-right: auto;
}
a:link{
    color: #202124;
}
a:visited {
    color: #202124;
    text-decoration-color: #202124;
}
#darkthemecurtain {
    position: absolute;
    display: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: rgb(245, 245, 245);
    transition: transform 200ms ease-out, opacity 160ms ease-out;
    z-index: 998;
    opacity: 1;
}
